@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@font-face {
	font-family: "BruceForever";
	src: url("/src/assets/fonts/BruceForeverRegular-X3jd2.ttf")
		format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Play";
	src: url("/src/assets/fonts/Play-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Play";
	src: url("/src/assets/fonts/Play-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

body {
	font-family: "BruceForever", sans-serif;
	background-color: theme("colors.background");
	color: theme("colors.primaryText");
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: theme("colors.primaryText");
}

p {
	font-family: "Play", sans-serif;
	color: theme("colors.secondaryText");
}

a {
	color: theme("colors.accent");
}

button {
	background-color: theme("colors.primaryButton.DEFAULT");
}

.btn:hover {
	background-color: #1a1a2e;
}

.btn-secondary {
	background-color: theme("colors.secondaryButton.DEFAULT");
	&:hover {
		background-color: theme("colors.secondaryButton.hover");
	}
}

.neon-glow {
	box-shadow: theme("boxShadow.neon");
}

.gradient-bg {
	background: linear-gradient(
		135deg,
		theme("gradientColorStops.gradient-start"),
		theme("gradientColorStops.gradient-end")
	);
}
